@font-face {
    font-family: 'PokemonGB-RAeo';
    src: url('https://raw.githubusercontent.com/mmorat/pokemon/main/pokefont.ttf') format('truetype');
 }

body{
    background-color: rgb(239,43,52);
    font-family: 'PokemonGB-RAeo', sans-serif;
    color: rgb(238,252,234);

}
 h1{
    font-size: 500%;
    color: rgb(255,194,10);
    padding: 10px;

    
 }

.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

#divNombre{
    display: flex;
    align-content: center;
    justify-content: center;
    width: 200px;
    height: 50px;
    border: 5px solid rgb(238,252,234);
    box-shadow: -3px 0px 0px rgb(143, 22, 58);
    background-color: rgb(0,13,42);
    margin-bottom: 20px;
}

#divNombre h4{
    align-self: center;
    justify-self: center;
}

#sprite{
    display: flex;
    align-items: center; 
    justify-content: center; 
    width: 200px;
    height: 200px;
    border: 5px solid rgb(238,252,234);
    box-shadow: -3px 0px 0px rgb(143, 22, 58);
    background-color: rgb(0,13,42);
    margin-bottom: 20px;
}

#sprite img{
    height: 195px;
}

button{
    font-family: 'PokemonGB-RAeo', sans-serif;
    padding: 20px;
    background-color: brown;
    color: rgb(238,252,234);
    border:1px solid rgb(238,252,234);
    box-shadow: -3px 0px 0px rgb(143, 22, 58);
    cursor: pointer;
}

@keyframes glowing {
    0% {
        box-shadow: 0 0 5px rgb(255,194,10);
    }
    50% {
        box-shadow: 0 0 50px rgb(255,194,10);
    }
    100% {
        box-shadow: 0 0 50px rgb(255,194,10);
    }
}


button:hover {
    background-color: rgb(255,194,10);
    animation: glowing 1s forwards;
}